*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    padding: 20px;
    font-size: 40px;
    font-weight: 900;
    
}

aside{
    
    width: 20%;
    margin-left: 40px;
}


.card {
    margin: 40px;
    width: 400px;
    float: unset;
}

